* {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
}

body {
    width: 1520px;
    margin: 0 auto;
}
#top {
    width: 1520px;
    height: 130px;
    background-color: #8B0016;
}

.container {
    float: right;
    width: 300px;
    height: 100px;
    /* text-align: right; */
    margin-right: 100px;
    align-items: center;
    display: flex;

    
}

.container li a {
        color: white;
        font-size: 14px;
}

span {
    font-size: 14px;
    color: white;

}
.img {

    float: left;
    margin-left: 200px;
    margin-top: 20px;
}

.input {
    width: 500px;
    height: 40px;
}
#menu {
    width: 1520px;
    height: 50px;
    background-color: blanchedalmond;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.menu {
    float: left;
    margin-left: 400px;
    margin-top: 10px;

}

nav.ul {
    width: 100%;
}

ul.menu {
    text-align: center;
}

.menu>li {
    float: left;
    position: relative;
}

.menu li {
    padding: 5px 5px;
    min-width: 120px;

}

.menu li a {
    color: rgb(185, 52, 52);
    font-size: 15px;

}

.menu li a:hover {
    color: burlywood;
}


.post-32{
    width: 1000px;
    height: 500px;
    
}


.entry-title{
       
       font-weight: 100; 

    border-bottom: 1px solid #f0e7dd !important;
    color: #212121 !important;
    font-family: "Nunito", "Ubuntu", Arial !important;
    font-size: 20px !important;
    margin: 20px 0 0 !important;
    padding: 0 0 10px !important;
    text-align: left !important;
    z-index: 0 !important;
      

}

h2{
    font-weight: 100; 
    border-bottom: 1px solid #f0e7dd !important;
    color: #212121 !important;
    font-family: "Nunito", "Ubuntu", Arial !important;
    font-size: 20px !important;
    margin: 20px 0 0 !important;
    padding: 0 0 10px !important;
    text-align: left !important;
    z-index: 0 !important;

}


 .woocommerce form.login {
    border: 1px solid #d3ced2;
    padding: 20px;
    margin: 2em 0;
    text-align: left;
    border-radius: 5px;
    
}


.woocommerce-Input{
width: 950px;
height: 30px;

}

.form-row{
    margin-top: 20px;
}
.lost_password{

    margin-top: 20px;
}






footer{
    width: 1520px;
    height: 270px;
    background-color: #600d0e;
    float: left;
}
.box10{
    width: 1300px;
    height: 200px;
    margin: 20px 200px;
}
.box11{
    float: left;
    margin-bottom: 100px;
    margin-left: 30px;
}




* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* html {
    background: black;
} */

body {
    font-family: "Open Sans";
    font-size: 16px;
    color: White;
    /* font-smoothing: antialiased; */
    font-weight: 600;
}

a {
    color: #BBB;
}

.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    /* background-color: black; */
    /* background-image: url("https://img.thuthuattinhoc.vn/uploads/2019/08/15/hinh-anh-con-duong-sang-som_064501073.jpg"); */
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.content {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 540px;
    height: 700px;
    background-color: rgba(10, 10, 10, 0.5);
    margin: auto auto;
    padding: 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    margin-top: 25px;
    margin-bottom: 25px;
}

.content .title {
    text-align: center;
    font-size: 2.0rem;
    font-weight: 600;
    padding-bottom: 30px;
}

.content input {
    width: 100%;
    font-size: 1.2rem;
    font-family: "Open Sans";
    margin: 10px 0px;
    border: none;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}




.content input[type=checkbox]:checked+label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    color: Black;
    text-align: center;
    line-height: 20px;
}

.content span {
    font-size: 0.9rem;
}

.content button {
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
    margin: 20px 0px;
    background-color: #66A756;
    color: White;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    
}

.content p label {
    float: left;
    
}
.content p select {
    float: left;
    margin: 0px 1.5%;
}



.content .txt {
    width: 460px;
    padding: 6px;
    border: solid 1px lightslategrey;
    border: none;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: Black;
    line-height: 20px;
}

.content fieldset {
    
    border: solid 1px lightslategrey;
    margin-top: 0;
    /* display:flex; */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: Black;
    line-height: 20px;
    border: none;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 4px;
    

    
}

#fs2{
    display: flex;
}

.content fieldset label{
    font: 1em sans-serif;
    
}

#fs1{
    display: flex;
    align-items: center;
}
#fs1 input{
    
    display: flex;
}

select{
    width: 100%;
    font-size: 1.2rem;
    font-family: "Open Sans";
    margin: 10px 0px;
    border: none;
    padding: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}